<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<H1>
	SuperMegaUltraBlogThing!
</H1>
<p> First Visit: <%= @first_visit%> </p>
<hr/>
<body>

<%= yield %>


</body>
</html>
<hr/>
<center>
<%= link_to('| About Me! |', '/aboutme/') %>
<%= link_to('| Home Page! |', '/welcome/') %>
<%= link_to('| Pictures! |', '/aboutme/pics/') %>
</center>